@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --pmdarkblue: #152233;
    --pmlightblue: #9DD4E8;
    --pmbrown: #885334;
    --pmbgolden: #E5C18A;
    --pmyellow: #F9EBC8;
    --titlefont: "PT Serif";
    --bodyfont: "Montserrat";
}

/* search page */
.searchPage {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#search {
    border-right: 2px solid var(--pmdarkblue);
    height: 100.2%;
    font-family: var(--bodyfont);
    background-color: var(--pmyellow);
}
#searchForm {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 5px;
    color: var(--pmdarkblue);
}
#searchForm label {
    margin-bottom: 2px;
}
#searchForm input {
    margin-bottom: 12px;
    width: 170px;
}   
#searchForm select {
    width: 177px;
}
#searchButton {
    display: flex;
    margin-top: 30px;
    justify-self: center;
    color: var(--pmdarkblue);
    background-color: var(--pmbgolden);
    border-color: var(--pmbgolden);
}

@media (min-width: 1000px) {
    .searchPage {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }    
    #searchForm {
        justify-self: center;
    }
    .book {
        width: 400px;
        height: 500px;
        align-content: end;
        position: relative;
    }
    .bookList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bookImg {
        position: absolute;
        top: 0;
        left: 0; 
        margin-top: 0; 
    }
}

/* book list */
.bookList {
    margin-bottom: 2em;
}
.bookImg {
    margin-top: 2em;
    margin-left: 1.5em;
}
.book {
    margin-left: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--pmbrown);
}
.book h2, p, a {
    padding-left: 20px;
}
.book h2 {
    font-family: var(--titlefont);
    margin-bottom: 0;
    color: var(--pmdarkblue);
}
.book p {
    font-family: var(--bodyfont);
    font-size: 0.8em;
    margin-top: 3px;
    color: var(--pmdarkblue);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}
.book a {
    font-family: var(--bodyfont);
    font-size: 0.7em;
    display: flex;
    text-decoration: none;
    color: var(--pmbrown);
    padding: 0;
}

.addButton {
    font-family: var(--bodyfont);
    font-size: 0.7em;
    display: flex;
    justify-content: right;
    margin-right: 2.5em;
    text-decoration: none;
    color: var(--pmbrown);
    border: none;
    background: none;
}

#nextButton {
    grid-column: 2;
    width: 6em;
    padding: 2px;
    font-family: var(--bodyfont);
    display: flex;
    justify-content: center;
    justify-self: right;
    margin-right: 20px;
    margin-bottom: 30px;
    color: var(--pmdarkblue);
    background-color: var(--pmyellow);
    border-color: var(--pmbyellow);
}
